<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Possible values are IE, Chrome, FF-->
    <add key="Browser" value="Chrome" />

    <!--Application URLs-->
    <add key="SavvyTimeURL.QA" value="https://savvytime.com/" />
    <add key="SavvyTimeURL.PROD" value="https://savvytime.com/" />
    
  </appSettings>
</configuration>
