<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="HtmlReportAppender" type="dnk.log2html.HtmlReportAppender, log2html"/>
	<appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="White" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<foreColor value="Cyan" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level [%thread] %logger: %message%exception_data%newline"/>
			<converter>
				<name value="exception_data"/>
				<type value="dnkUtils.Diagnostics.ExceptionDataPatternConverter, dnkUtils"/>
			</converter>
		</layout>
	</appender>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/log"/>
		<appendToFile value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<maxSizeRollBackups value="365"/>
		<maximumFileSize value="20MB"/>
		<datePattern type="log4net.Util.PatternString" value=".yyyy-MM-dd.lo\g"/>
		<rollingStyle value="Composite"/>
		<staticLogFileName value="false"/>
		<layout type="log4net.Layout.PatternLayout">
			<IgnoresException value="False"/>
			<conversionPattern value="%date %-5level [%thread] %logger: %message%exception_data%newline"/>
			<converter>
				<name value="exception_data"/>
				<type value="dnkUtils.Diagnostics.ExceptionDataPatternConverter, dnkUtils"/>
			</converter>
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="HtmlReportAppender" />
		<appender-ref ref="ManagedColoredConsoleAppender" />
		<appender-ref ref="RollingLogFileAppender"/>
	</root>
</log4net>
